<div class="search-container">
  <div class="search-field">
    <input matInput placeholder="Search">
    <i class="fa-solid fa-magnifying-glass"></i>
  </div>
  
</div>
@if (!isAdmin) {
  <div class="add-card" (click)="openDialog()">
    <div class="add-svg-container">
        <span class="c-mobile__button__plus fa fa-plus"></span>
    </div>
  </div>
}
<div class="foto-grid">
  @for (f of foto; track f.id) {
    <mat-card class="example-card" (click)="openInfoDialog(f)">
      <mat-card-header>
        <div class="card-info">
          <mat-card-title>{{f.oggetto.titolo}}</mat-card-title>
          <mat-card-subtitle> di {{f.oggetto.autore}}</mat-card-subtitle>
        </div>
        <div class="modify-image-container" (click)="openModifyDialog(f?.id); $event.stopPropagation()">
          <i class="fa-solid fa-pen"></i>
        </div>
      </mat-card-header>
      <mat-card-content>
        <div class="image-container">
          <img mat-card-image src="http://localhost:8080/images/{{f.oggetto.immagine}}" [alt]="f.oggetto.titolo">
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button class="add-to-cart-btn" (click)="addToCart(f.id); $event.stopPropagation()" 
        matTooltip="Aggiungi al carrello" 
        aria-label="Button that displays a tooltip when focused or hovered over">
          <span class="material-symbols-outlined">
            add_shopping_cart
          </span>
        </button>
        <div class="price-section">
          <span class="price">{{f.oggetto.prezzo | currency:'EUR' }}</span>
        </div>
      </mat-card-actions>
    </mat-card>
  }
</div>
