<div>
    <div class="example-button-row">
      <button mat-flat-button (click)="openDialog()">Insert</button>
    </div>
</div>
<div class="foto-grid">
  <div *ngFor="let f of foto" class="foto-container">
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{f.oggetto.titolo}}</mat-card-title>
        <mat-card-subtitle>{{f.oggetto.autore}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="http://localhost:8080/images/{{f.oggetto.immagine}}" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          {{f.oggetto.descrizione}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button matButton>LIKE</button>
        <button matButton>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
