<div class="container">
    <form #signinForm="ngForm" (ngSubmit)="onSubmit(signinForm)" class="form-container">
      <h2> {{ isLogin ? 'Accedi' : 'Registrati' }}</h2>

        <div class="form-field">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" ngModel required>
        </div>

        <div class="form-field" *ngIf="!isLogin">
          <label for="nome">Nome</label>
          <input type="text" id="nome" name="nome" ngModel required>
        </div>
      
        <div class="form-field">
          <label for="pwd">Password</label>
          <input type="password" id="pwd" name="pwd" ngModel required>
        </div>
      
        <div class="button-group">
          <button type="submit" class="btn-submit" [disabled]="!signinForm.valid">
            {{ isLogin ? 'Accedi' : 'Registrati' }}
          </button>
          <button type="button" class="btn-toggle" (click)="toggleForm()">
            {{ isLogin ? 'Non hai un account? Registrati' : 'Hai già un account? Accedi' }}
          </button>
          <div *ngIf="msgEr" class="error-message">
            <p>{{ msgEr }}</p>
          </div>
        </div>
      </form>
      
</div>
