<div>
    <div class="example-button-row">
      <button mat-flat-button (click)="openInsertDialog()">Insert</button>
    </div>
</div>
<mat-grid-list class="container_grid" cols="3">
    @for (illustrazione of illustrazioni; track illustrazione.id){
        <mat-grid-tile class="container_tile">
        <mat-card class="example-card" appearance="outlined">
            <div class="header">
                <div class="title">{{illustrazione.oggetto.titolo}}</div>
                <div class="author">{{illustrazione.oggetto.autore}}</div>
            </div>
            <img class= "image" mat-card-image src="http://localhost:8080/images/{{illustrazione.oggetto.immagine}}"
            alt="Example Image">
            <mat-card-content class="description">
                <p>
                {{illustrazione.oggetto.descrizione}}
                </p>
            </mat-card-content>
            <mat-card-actions class="button">
                <button matButton (click)="addToCart(illustrazione?.id)">Wanna buy it</button>
                <button matButton (click)="openModifyDialog(illustrazione?.id)">Modify Image</button>
                <!--<button matButton (click)="openDeleteDialog(illustrazione?.id)">Delete</button>-->
                <!--<button matButton>SHARE</button>-->
            </mat-card-actions>
        </mat-card>
        </mat-grid-tile>
    }
</mat-grid-list>