<section id="prodotti" class="prodotti">
    <h2>Scopri i Nostri Prodotti</h2>
    <p>Seleziona una categoria per esplorare le opere artistiche.</p>
    <div class="categories">
        <div class="category">
            <img src="homeDisegno.jpeg">
            <a [routerLink]="['/disegni']" class="cta-button">Scopri i Disegni</a>
        </div>
        <div class="category">
            <img src="homeIllustrazione.jpeg">
            <a [routerLink]="['/illustrazioni']" class="cta-button">Scopri le Illustrazioni</a>
        </div>
        <div class="category">
            <img src="homeFoto.png">
            <a [routerLink]="['/foto']" class="cta-button">Scopri le Foto</a>
        </div>
    </div>
</section>



<section id="chi-siamo" class="chi-siamo">
    <h2>Chi Siamo</h2>
    <p>
        Siamo il team della <strong>BetacomAcademy</strong> di Treviso, attivo nel periodo <strong>giugno-settembre 2025</strong>, che ha collaborato per lo sviluppo di questo progetto comune. Ogni componente del team ha gestito un'area specifica del progetto, coprendo sia la parte <strong>frontend</strong> che <strong>backend</strong>, per poi integrare le soluzioni sviluppate in un sistema coeso e funzionante.
    </p>
    <p>
        Questo progetto rappresenta un’applicazione pratica delle competenze tecniche e professionali acquisite durante il nostro percorso formativo all'interno dell'Academy. Ogni fase del processo, dalla progettazione alla realizzazione, è il risultato dell’impegno e della dedizione di ciascun membro del team, che ha messo in pratica le conoscenze apprese per creare una soluzione completa e di qualità.
    </p>
    <h3>I Membri del Team</h3>
    <ul class="team-members">
        <li>
            <strong>Casazza Luigi</strong>
            <div class="role">
                <span class="position">Responsabile</span>
                <span class="position">Full Stack Developer</span>
            </div>
            <div class="incarico">
                <span>Incarico: Utente</span>
            </div>
        </li>
        <li>
            <strong>Cigana Elia</strong>
            <div class="role">
                <span class="position">Full Stack Developer</span>
            </div>
            <div class="incarico">
                <span>Incarico: Foto</span>
            </div>
        </li>
        <li>
            <strong>Rossi Alex</strong>
            <div class="role">
                <span class="position">Full Stack Developer</span>
            </div>
            <div class="incarico">
                <span>Incarico: Illustrazioni</span>
            </div>
        </li>
        <li>
            <strong>Veneziani Michele</strong>
            <div class="role">
                <span class="position">Full Stack Developer</span>
            </div>
            <div class="incarico">
                <span>Incarico: Disegni</span>
            </div>
        </li>
    </ul>
</section>