<div *ngIf="DisegnoSelezionato">
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Dettaglio disegno {{DisegnoSelezionato.oggetto.immagine}} {{DisegnoSelezionato.oggetto.titolo}}</mat-card-title>
    </mat-card-header>

    <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <div class="form-container">
          <mat-form-field class="form-column">
              <mat-label>Autore</mat-label>
              <input matInput type="text" name="autore" formControlName="autore">
          </mat-form-field>

          <!--<mat-form-field>
            <mat-label>Custom calendar header</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker [calendarHeaderComponent]="exampleHeader"></mat-datepicker>
          </mat-form-field>
          -->

          <mat-form-field class="form-column">
              <mat-label>Data creazione</mat-label>
              <input matInput type="text" name="dataCreazione" formControlName="dataCreazione">
          </mat-form-field>

          <mat-form-field class="form-column">
              <mat-label>Descrizione</mat-label>
              <input matInput type="text" name="descrizione" formControlName="descrizione">
          </mat-form-field>

          <mat-form-field class="form-column">
              <mat-label>Dimensione</mat-label>
              <input matInput type="text" name="dimensione" formControlName="dimensione">
          </mat-form-field>

          <mat-form-field class="form-column">
              <mat-label>Immagine</mat-label>
              <input matInput type="text" name="immagine" formControlName="immagine">
          </mat-form-field>

          <mat-checkbox formControlName="isAI">IsAI</mat-checkbox>

          <mat-form-field floatLabel="always">
            <mat-label>Prezzo</mat-label>
            <input matInput type="number" class="example-right-align" placeholder="0" name="prezzo" formControlName="prezzo" />
            <span matTextPrefix>€&nbsp;</span>
          </mat-form-field>
          <!--
          <mat-form-field class="form-column">
              <mat-label>Prezzo</mat-label>
              <input matInput type="text" name="prezzo" formControlName="prezzo">
          </mat-form-field>
        -->
          <mat-form-field class="form-column">
              <mat-label>Supporto</mat-label>
              <input matInput type="text" name="supporto" formControlName="supporto">
          </mat-form-field>

          <mat-form-field class="form-column">
              <mat-label>Tecnica</mat-label>
              <input matInput type="text" name="tecnica" formControlName="tecnica">
          </mat-form-field>

          <mat-form-field class="form-column">
              <mat-label>Titolo</mat-label>
              <input matInput type="text" name="titolo" formControlName="titolo">
          </mat-form-field>

          
        </div>
      </mat-card-content>
      <div class="form-container">
        <p>{{msg}}</p>
      </div>
      
      <mat-card-footer>
        <button mat-raised-button style="background-color: green;" type="button" (click)="onAnnul()">Annulla</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="!updateForm.valid">Aggiorna</button>
        <!--<button mat-raised-button style="background-color: red;" type="button" (click)="onDelete()">Delete</button>-->
      </mat-card-footer>
    
    </form>
    
  </mat-card>
</div>
