<!-- image-dialog.component.html -->
<div class="dialog-container">
  <mat-dialog-actions>
    <i class="fa-solid fa-circle-xmark" mat-dialog-close></i>
  </mat-dialog-actions>
  <!-- Colonna sinistra con immagine -->
  <div class="dialog-left">
    <img src="http://localhost:8080/images/{{obj.oggetto.immagine}}" [alt]="obj.oggetto.title">
  </div>
  <!-- Colonna destra con scroll -->
  <div class="dialog-right">
    <div class="dialog-right-header">
      <h1 class="title">{{ obj.oggetto.titolo }}</h1>
    <!-- Toggle -->
      <div class="ai-toggle-container">
          <span class="ai-label">AI</span>
          <div class="toggle-switch" [class.active]="obj.oggetto.isAI">
              <div class="toggle-slider"></div>
          </div>
      </div>
    </div>
    <div class="description">
      <b>Descrizione:</b>
      <p>{{ obj.oggetto.descrizione }}</p>
    </div>
    <p><b>Autore:</b> {{ obj.oggetto.autore }}</p>
    <p><b>Data creazione:</b> {{ obj.oggetto.dataCreazione | date:'dd/MM/yyyy'}}</p>
    <p><b>Dimensione:</b> {{ obj.oggetto.dimensione }}</p>
    
    @if (obj.oggetto.categoria == 'disegno') {
      <p><b>Supporto:</b> {{ obj.supporto }}</p>
      <p><b>Tecnica:</b> {{ obj.tecnica }}</p>
    }
    @else if (obj.oggetto.categoria == 'foto') {
      <p><b>Device:</b> {{ obj.device }}</p>
      <p><b>Risoluzione:</b> {{ obj.widthResolution }} × {{ obj.heightResolution }}</p>
    }
    @else if (obj.oggetto.categoria == 'illustrazione') {
      <p><b>UrlIllustrazione:</b> {{ obj.urlIllustrazione }}</p>
      <p><b>Stile:</b> {{ obj.stile }}</p>
      <p><b>DataIllustrazione:</b> {{ obj.dataIllustrazione }}</p>
    }
    <p><b>Prezzo:</b> {{ obj.oggetto.prezzo | currency:'EUR' }}</p>
  </div>
</div>
